@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'Readex Pro';
    src: url(../fonts/readex-pro-v20-latin-regular.eot);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --primary-color: #000000;
    --secondary-color: #4B4B4B;
    --title-font: 'Readex Pro';
    --optional-font: 'Inter';
}

body{
    color: var(--primary-color);
    font-family: var(--optional-font);
}

.container{
    max-width: 1294px;
    margin: 0 auto;
    padding: 15px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__menu{
    display: flex;
    align-items: center;
    min-width: 40%;
    justify-content: space-between;
}

.navbar__menu-list{
    padding: 32px 0;
    cursor: pointer;
}

.navbar__icons{
    display: flex;
    align-items: center;
    min-width: 5%;
    justify-content: space-between;
}