@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'Readex Pro';
    src: url(../fonts/readex-pro-v20-latin-regular.eot);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --primary-color: #000000;
    --secondary-color: #4B4B4B;
    --title-font: 'Readex Pro';
    --optional-font: 'Inter';
}

body{
    color: var(--primary-color);
    font-family: var(--optional-font);
}

.container{
    max-width: 1294px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn{
    padding: 14px 53px;
    min-width: 170px;
    border: 1px solid #000000;
    border-radius: 200px;
    background-color: #ffffff00;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.btn:hover{
   color: #FFFFFF;
   background-color: #000000;
}

nav{
    padding: 8px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__menu{
    display: flex;
    align-items: center;
    min-width: 40%;
    justify-content: space-between;
}

.navbar__menu-list{
    padding: 32px 0;
    cursor: pointer;
}

.navbar__menu-list:hover .navbar__link{
    color:cornflowerblue;
}

.navbar__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.navbar__icons{
    display: flex;
    align-items: center;
    min-width: 5%;
    justify-content: space-between;
}

header{
    padding-top: 8px;
    background: #DCE5E2;
    border-radius: 32px;
}

.hero{
    display: flex;
    position: relative;
    background-image: url(../imges/IMAGE.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;   
    min-height: 85vh;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    .hero{
        background-image: url(../imges/IMAGE@2x.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: bottom;
        min-height: 85vh;
    }
  }

  .hero__vector{
    margin-right: 34px;
  }

  .hero__vector-s{
    transform: rotate(180deg);
    position: absolute;
    right: 0;
    top: 275px;
}

  .hero__description{
    align-self: center;
    justify-items: flex-start;
  }

  .hero__description-title{
    max-width: 570px;
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
  }

  .hero__description-text{
    margin-top: 22px;
    margin-bottom: 23px;
    max-width: 565px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .hero__lines{
    position: absolute;
    bottom: 34px;
    left: 266px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 55%;
  }

  .hero__lines-item{
    display: block;
    width: 194px;
    height: 2px;
    background-color: var(--primary-color);
  }

.categories{
    padding-top: 73px;
    padding-bottom: 57px;
}

  .categories__title{
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
  }

  .categories__text{
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    margin-bottom: 55px;
    max-width: 500px;
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .categories__blocks{
    display: flex;
    align-items: flex-start;
   column-gap: 8px;
}

  .categories__blocks-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 41px;
  }

  .categories__blocks-wrap--item:nth-child(1){
    padding-right: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    min-height: 472px;
    min-width: 639px;
    background: #FFFFFF;
    background-image: url(../imges/note-book.png);
    background-repeat: no-repeat;
    background-position-x: 42px;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
    background-color: #FFFFFF;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
        .categories__blocks-wrap--item:nth-child(1){
            min-height: 472px;
            min-width: 639px;
            background-image: url(../imges/note-book2x.png);
            background-repeat: no-repeat;
            background-position-x: 42px;
        }
  }

  .wrap__item-toptitle{
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
  }

  .wrap__item-title{
    max-width: 192px;
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  .categories__blocks-wrap--item:nth-child(2){
    padding-right: 42px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    min-width: 639px;
    min-height: 270px;
    background-image: url(../imges/oc.png);
    background-repeat: no-repeat;
    background-position-x: 42px;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
    background-color: #FFFFFF;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    .categories__blocks-wrap--item:nth-child(2){
        background-image: url(../imges/oc2x.png);
        background-repeat: no-repeat;
        background-position-x: 42px;
    }
  }

  .categories__blocks-flex{
    display: flex;
    align-items: center;
    column-gap: 22px;
  }

  .categories__blocks-flex--item:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 144px 31px;
    background-image: url(../imges/inv.png);
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: 144px;
    min-width: 312px;
    min-height: 792px;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
    background-color: #FFFFFF;
    text-align: center;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    .categories__blocks-flex--item:nth-child(1){
        background-image: url(../imges/inv2x.png);
        background-repeat: no-repeat;
        background-position-x: 16px;
        background-position-y: 144px;
        min-width: 312px;
        min-height: 792px;
    }
  }

  .categories__blocks-flex--item:nth-child(2){
    padding: 114px 39px;
    text-align: center;
    min-width: 312px;
    min-height: 792px;
    background-image: url(../imges/hand=phone.png);
    background-repeat: no-repeat;
    background-position-y: 252px;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
    background-color: #FFFFFF;
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    .categories__blocks-flex--item:nth-child(2){
        min-width: 312px;
        min-height: 792px;
        background-image: url(../imges/hand-phone2x.png);
        background-repeat: no-repeat;
        background-position-y: 252px;
    }
  }

  .flex__toptitle{
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
  }

  .flex__title{
    max-width: 250px;
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }

  .categories__blocks-flex--item:nth-child(1):hover, .categories__blocks-flex--item:nth-child(2):hover, .categories__blocks-wrap--item:nth-child(1):hover, .categories__blocks-wrap--item:nth-child(2):hover{
    color: rgb(100, 100, 237);
    transition: 0.1s;
  }

  .cards{
    padding-top: 57px;
    padding-bottom: 37px;
  }

  .cards__title{
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
  }

  .cards__subtitle{
    margin: 9px 0 31px;
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
  }

  .cards__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cards__block-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 396px;
    max-width: 302px;
    background-size: contain;
  }

  .cards__block-item:nth-child(1){
    background-image: url(../imges/r.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 24px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    .cards__block-item:nth-child(1){
      background-image: url(../imges/r2x.png);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 24px;
    }
  }

  .cards__block-item:nth-child(2){
    background-image: url(../imges/watch.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 24px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    .cards__block-item:nth-child(2){
      background-image: url(../imges/watch2x.png);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 24px;
    }
  }

  .cards__block-item:nth-child(3){
    background-image: url(../imges/card3.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 24px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    .cards__block-item:nth-child(3){
      background-image: url(../imges/card32x.png);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 24px;
    }
  }

  .cards__block-item:nth-child(4){
    background-image: url(../imges/card42x.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 24px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    .cards__block-item:nth-child(4){
      background-image: url(../imges/card42x.png);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 24px;
    }
  }

  .cards__block-item--title{
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
  }

.cards__block-item--desc{
  margin: 9px 0 25px 0;
  max-width: 261px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--secondary-color);
}

  .cards__block-item--price{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  .sell{
    padding-top: 37px;
  }

  .sell__title{
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
  }

  .sell__subtitle{
    margin-top: 9px;
    text-align: center;
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
  }

  .sell__cards{
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sell__cards-item{
    padding: 41px 77px 0;
    min-height: 453px;
    max-width: 413px;
    background-color: #F8F9FA;
    border-radius: 16px;
    text-align: center;
  }

  .sell__cards-item:nth-child(1){
    background-image: url(../imges/dublew.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
    background-size:auto;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    .sell__cards-item:nth-child(1){
      background-image: url(../imges/duble2x.png);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 24px;
      background-position-x: center;
      background-position-y: bottom;
      background-size: auto;
    }
  }

  .sell__cards-item:nth-child(2){
    background-image: url(../imges/cbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    .sell__cards-item:nth-child(2){
      background-image: url(../imges/cbg2x.png);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 24px;
      background-position-x: center;
      background-position-y: bottom;
      background-size: auto;
    }
  }

  .sell__cards-item:nth-child(3){
    background-image: url(../imges/cbg3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    .sell__cards-item:nth-child(3){
      background-image: url(../imges/cbg32x.png);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 24px;
      background-position-x: center;
      background-position-y: bottom;
      background-size: auto;
    }
  }

  .sell__cards-item--toptitle{
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
  }

  .sell__cards-item--title{
    margin-bottom: 30px;
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
  }

  .ideas{
    padding-top: 75px;
    padding-bottom: 24px;
  }

  .ideas__title{
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
  }

  .ideas__subtitle{
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    margin-top: 9px;
  }

  .ideas__hero{
  margin-top: 56px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
  }

  .ideas__hero-deco{
    background-image: url(../imges/white-book.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 420px;
    min-width: 620px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    .ideas__hero-deco{
      background-image: url(../imges/white-book2x.png);
      background-size: contain;
      background-repeat: no-repeat;
      min-height: 420px;
      min-width: 620px;
    }
  }

  .ideas__hero-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 28px;
  }

  .ideas__hero-description--text{
    max-width: 569px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
  }

  .ideas__smth{
    display: block;
    margin-top: 73px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: capitalize;
  }

  .gen{
    padding: 34px 0 68px 0;
  }

  .form{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
  }

  .form__title{
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    display: block;
  }

  .form__validation{
    margin-top: 24px;
    padding: 18px 20px 19px 20px;
    min-width: 650px;
    background: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    display: flex;
    align-items: center;
  }

  .form__validation-insea{
    margin-left: 23px;
    min-width: 40%;
    outline: none;
    border: none;
    background-color: transparent;
  }

  .buttons-team{
    margin-top: 18px;
    max-width: 563px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
  }

  .buttons-team--item{
    padding: 12px 22px;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    transition: 0.3s;
  }

  .buttons-team--item:hover{
   background-color: aliceblue;
  }

  .styleBtn{
    order: 1;
    background-color: dodgerblue;
  }

  .messi{
    padding:34px 0 19px 0;
  }

  .miss{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 47px 0;
    max-width: 935px;
    min-height: 450px;
    background-color: #DCE5E2;
    border-radius: 16px;
    background-image: url(../imges/miss.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: center;
  }

  .miss__title{
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
  }

  .miss__subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .miss__validation{
   margin-top: 228px;
   display: flex;
   align-items: center;
  }

  .miss__validation-gm{
    padding: 16px 0 16px 32px;
    min-width: 285px;
    background-color: #DCE5E2;
    border: 1px solid #000000;
    border-radius: 54px 0px 0px 54px;
  }

  .miss__validation-gm::placeholder{
    font-family: var(--optional-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .miss__validation-sub{
    min-height: 49.5px;
    min-width: 115px;
    padding: 16px 32px;
    background-color: #000000;
    border-radius: 0px 200px 200px 0px;
    font-family: var(--optional-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
  }

  footer{
    background-color: #F8F9FA;
    border-top: 1px solid #DCE5E2;
    padding-top: 55px;
  }

  .cali-footi{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 64px;
  }

  .cali-footi__desc-text{
    margin-top: 18px;
    max-width: 304px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .cali-footi__menu-title{
    margin-bottom: 19px;
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
  }

  .cali-footi__menu-list--link{
    display: block;
    text-decoration: none;
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: var(--primary-color);
  }

  .cali-footi__menu-list--link:hover{
    color: blue;
  }

  .webflow{
    border-top: 1px solid #DCE5E2;
    padding: 52px 0 4px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .webflow__title{
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  .webflow__sectitle{
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  .webflow__sectitle-main{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  .webflow__title-main{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }